strong{
    color: #f36100;
}
.banner p{
    font-size: 25px;
    margin: 0;
}
.banner h3{
    font-size: 35px;
}
.banner-button{
    margin: 5px 0 15px 0;
}

@media (min-width: 768px) {
    .banner p{
        font-size: 35px;
    }
    .banner h3{
    font-size: 50px;
    margin-bottom: 10px;
    }
    .banner-button{
        margin: 0;
        margin-bottom: 40px;

    }
}
@media (min-width: 992px){
    .banner p{
        font-size: 40px;
    }
    .banner h3{
        font-size: 55px;
        margin-bottom: 20px;
    }
    .banner-button{
        margin-bottom: 80px;
    }
}
@media (min-width: 1300px){
    .banner p{
        font-size: 45px;
    }
    .banner h3{
        font-size: 65px;
    }
    .banner-button{
        margin-bottom: 180px;
    }
}